body {
    font-family:'Roboto', sans-serif;
}

#gameBoard-container {
    display:grid;
    height:900px;
    width:900px;
    grid-template-columns: repeat(3, 300px);

}

.grid-square {
    border: 1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;
    height:300px;

}